.navBarComponent {
  background-color: rgba(9, 18, 66, 0.25);

  padding: 30px 0px;
}

.navLink {
  color: #ffffff;
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.29;
}

.dropdown > a {
  color: #ffffff;
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.29;
  padding: 10px;
}

.navBar,
.navBar * {
  padding: 0;
}

.navDivider {
  color: var(--color-hover-link);
  width: 2px;
  margin-left: 30px;
  margin-right: 30px;
}

.socialLinksList {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.socialLinksItem:not(:last-child) {
  margin-right: 40px;
}

.socialLink {
  color: var(--color-text-main-light);
  height: 19px;
  display: flex;
  align-items: center;
}

.linkIcon {
  width: 19px;
  height: 19px;
}

.socialLink:hover,
.socialLink:focus {
  color: var(--color-hover-link);
}

.dropdownItem {
  padding: 5px 10px;
  background-color: yellow;
  font-weight: 600;
}

.dropdownItem:hover,
.dropdownItem:focus {
  background-color: green;
  color: var(--color-text-main-light);
}
