.projectSingleMain {
  background: url("../../images/bg_main_all/bg_main.png") no-repeat,
    url("../../images/bg_main_all/bg_project_single_main_photo.jpg") no-repeat;
  background-size: cover, cover;
  background-position: center;
}

.allPartSection {
  height: 419px;
  color: white;
  padding-top: 119px;
}
