.formControl {
  border-radius: 0;
  padding: 15px 20px;
  background-color: rgba(9, 18, 66, 1);
  border: 1px solid rgba(78, 86, 131, 1);
}

.formControl::placeholder {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 0.9;
  color: white;
}

.textArea {
  resize: none;
  height: 154px;
}

.submitButton {
  padding: 20px 30px;
  border: none;
  border-radius: 0px;
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.35;
  color: #23212a;
  text-decoration: none;
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
}

.formColumn {
  padding: 0;
}

.formColumn:nth-child(2) {
  padding-left: 20px;
}
