.aboutUsAboutUs {
  padding-top: 143px;
  padding-bottom: 143px;
}

.allPartSection {
  height: 419px;
  color: rgba(28, 31, 53, 1);
  display: flex;
  align-items: flex-end;
}

.aboutUs_div_text {
  width: 604px;
}

.aboutUs_text {
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.text_1 {
  margin-bottom: 20px;
}

.aboutUs_buttons_list {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.aboutUs_buttons_list button {
  font-family: "Krub", sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.526;
  padding: 15px 39px 16px 38px;
}

.aboutUs_buttons_list button:hover,
.aboutUs_buttons_list button:focus {
  color: white;
  background-color: rgba(255, 184, 43, 1);
}

.text_2 {
  margin-bottom: 30px;
}

.aboutUs_div_photo {
  position: relative;
  margin-left: -200px;
  margin-right: auto;
}

.absolute {
  position: absolute;
  border-left: 20px solid white;
  border-top: 20px solid white;
  bottom: -40px;
  right: -30px;
}
