.serviceSingleMain {
  background: url("../../images/bg_main_all/bg_main.png") no-repeat,
    url("../../images/bg_main_all/bg_service_single_main_photo.jpg") no-repeat;
  background-size: cover, cover;
}

.allPartSection {
  height: 419px;
  color: white;
  padding-top: 159px;
}

.details_list {
  padding: 80px 0px;
}
