.divText {
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.beforeText {
  display: inline-block;
  width: 4px;
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
  height: 21px;
}

.text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.185;
  padding: 3px 9px;
  display: inline-block;
}

.dark {
  color: white;
  background-color: rgba(4, 28, 55, 0.5);
}

.light {
  color: rgba(28, 31, 53, 1);
  background-color: rgba(232, 232, 232, 0.5);
}
