.buttonUser {
  padding: 19px 48px;
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.35;
}

.light {
  color: black;
  background-image: url("../../images/buttonUser/bg-light-default.jpg");
  background-position: center;
}

.light:hover,
.light:focus {
  background-image: url("../../images/buttonUser/bg-light-hover.jpg");
}

.dark {
  color: white;
  background-image: url("../../images/buttonUser/bg-dark-default.jpg");
  background-position: center;
}

.dark:hover,
.dark:focus {
  background-image: url("../../images/buttonUser/bg-dark-hover.jpg");
}

.buttonLink {
  text-decoration: none;
  color: inherit;
}
