.homeMain {
  background: url("../../images/bg_main_all/bg_main.png") no-repeat,
    url("../../images/bg_main_all/bg-home-main.jpg") no-repeat;
  background-size: cover, cover;
  background-position: center, center;
}

.allPartSection {
  height: 797px;
  color: white;
  padding-top: 173px;
}

.textDescription {
  font-family: "Krub", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.515;
  margin-bottom: 10px;
}
