.allPartSection {
  color: rgba(28, 31, 53, 1);
  padding: 100px 0px;
}

.details_list > li:not(:last-child) {
  margin-bottom: 100px;
}

.details_item_text {
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(102, 108, 137, 1);
  margin-bottom: 20px;
}

.details_headline_icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.details_headline_icon::before {
  content: "";
  display: inline-block;
  width: 49px;
  height: 53px;
  background-image: url("../../images/whatWeDo/ship_icon.png");
  margin-right: 20px;
  background-size: cover;
}

.details_item_div_text {
  width: 442px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 376px;
}

.flex_row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.details_item_benefitsList li {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.details_item_benefitsList li:not(:last-child) {
  margin-bottom: 20px;
}

.details_item_benefitsList li::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url("../../images/serviceSingleDetails/errow_right.svg");
  margin-right: 10px;
  background-size: cover;
}
