.teamMain {
  background: url("../../images/bg_main_all/bg_main.png") no-repeat,
    url("../../images/bg_main_all/bg_team_main_photo.jpg") no-repeat;
  background-size: cover, cover;
  background-position: center, center;
}

.allPartSection {
  height: 419px;
  color: var(--color-text-main-light);
  padding-top: 119px;
}
