.contactMain {
  background: url("../../images/contactPage/bg_contact_main.png") no-repeat,
    url("../../images/contactPage/bg_contact_main_photo.jpg") no-repeat;
  background-size: cover, cover;
  background-position: center, center;
}

.allPartSection {
  height: 419px;
  color: white;
  padding-top: 157px;
}
