.footer {
  background-color: #091242;
  font-family: "Krub", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.5;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #ffffff;
}

.firstPartFooter {
  background-color: rgba(255, 255, 255, 0.08);
}

.footerFirstColumn {
  background-color: #091242;
}

.footerColumn {
  padding: 43px 50px 43px 40px;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  line-height: 1.19;
}

.footerText {
  font-family: "Krub", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.52;
  color: #e8e8e8;
  margin-bottom: 30px;
}

.contactItem {
  display: flex;
  align-items: center;
}

.contactItem:not(:last-child) {
  margin-bottom: 30px;
}

.contactInfo {
  font-family: "Krub", sans-serif;
  font-size: 14px;
  line-height: 1.35;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.contactInfo::before {
  content: "";
  display: inline-block;
  width: 63px;
  height: 63px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 17px;
}

.contactIconTime::before {
  background-image: url("../../images/header/iconTime.png");
}

.contactIconEmail::before {
  background-image: url("../../images/header/iconEmail.png");
}

.contactIconPhone::before {
  background-image: url("../../images/header/iconPhone.png");
}

.footerListItem {
  display: flex;
}

.footerListItem:not(:last-child) {
  margin-bottom: 20px;
}

.footerListLink {
  font-family: "Krub", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.divFlex {
  display: flex;
}
