.footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #0a0808;
  color: grey;
}

.rowLogo {
  margin-bottom: 0px;
}

.logo {
  width: 79px;
  height: 79px;
}

.textPart {
  display: flex;
}

.textPart > div:not(:last-child) {
  margin-right: 60px;
  width: 207px;
}

.part1_text {
  margin-bottom: 25px;
}

.linkSocialList {
  display: flex;
}

.listLinksName {
  color: white;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 8px;
}

.socialLinkItem:not(:last-child) {
  margin-right: 10px;
}

.linkList {
  display: flex;
  flex-direction: column;
}

.linkList a:not(:last-child) {
  padding: 0;
  margin-bottom: 10px;
}

.navlink {
  color: grey;
  line-height: 1.17;
}

.part4 {
  flex: 1;
}

.label {
  color: #ffffff;
  margin-bottom: 13px;
}

.inputSubscribe {
  background-color: #0a0808;
  color: grey;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
}

.inputSubscribe::placeholder {
  color: grey;
}

.subscribeGroup {
  margin-bottom: 15px;
}

.linkPaymentList {
  display: flex;
  align-items: center;
}

.paymentItem:not(:last-child) {
  margin-right: 15px;
}

.buttonSubscribe:hover,
.buttonSubscribe:focus {
  color: var(--color_hover);
  background-color: var(--background_color_hover);
  outline: none;
  border: 1px solid var(--background_color_hover);
}
