.whatWeDo {
  padding-top: 103px;
  padding-bottom: 103px;
}

.white {
  background-color: var(--color-bg-primary);
}

.grey {
  background-color: var(--color-bg-secondary);
}

.allPartSection {
  color: rgba(28, 31, 53, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_headline {
  margin-bottom: 50px;
}

.works_list {
  margin-bottom: 40px;
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(3, 270px);
  row-gap: 50px;
  justify-content: space-between;
}

.works_item_text {
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(102, 108, 137, 1);
}

.works_item img {
  margin-bottom: 20px;
}

.servise_headline {
  display: block;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.185;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}

.servise_headline:hover,
.servise_headline:focus {
  color: rgba(255, 184, 43, 1);
}
