.section {
  padding-top: 103px;
}

.contact_allPartSection {
  color: var(--color-text-main-light);
  padding: 101px 98px;
  background-color: rgba(9, 18, 66, 1);
  width: 954px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contact_headline {
  text-align: center;
}

.contact_text {
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: center;
}
.contactList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contactItem {
  display: flex;
  flex-direction: column;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.contactIconEmail:hover,
.contactIconPhone:hover,
.contactIconEmail:focus,
.contactIconPhone:focus {
  color: var(--color-hover-link);
}

.contactInfo::before {
  content: "";
  display: inline-block;
  width: 63px;
  height: 63px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 17px;
}

.contactIconTime::before {
  background-image: url("../../images/header/iconTime.png");
}

.contactIconEmail::before {
  background-image: url("../../images/header/iconEmail.png");
}

.contactIconPhone::before {
  background-image: url("../../images/header/iconPhone.png");
}

.contactClients {
  padding: 51px 0px;
}
